.sentence-section {
  width: 100%;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  background: #121212;
  color: #fff;
}

.sentence-row {
  width: 42rem;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  padding: 0 0;
}

.sentence-slider .sentence-inner {
  display: flex;
  width: fit-content;
  animation-name: sentence-loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.sentence-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 40px 10px 20px;
  border-radius: 25px;
  margin-right: 1.4rem;
  white-space: nowrap;
  font-size: 0.8rem;

  /* Gradient Text */
  background: linear-gradient(230deg, #242424, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional for smoother look */
  font-weight: 600;
}


.sentence-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}



@keyframes sentence-loop {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
