.logo-marquee {
  width: 100%;
  overflow: hidden;
  background: #000000; /* FULL BLACK */
  padding: 30px 0;
}

.logo-track {
  display: flex;
  align-items: center;
  width: max-content;
  animation: scroll 22s linear infinite;
  gap: 40px;
}

.logo-item {
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 
}

.logo-item img:hover {
  opacity: 1;
  filter: brightness(1) invert(0) grayscale(0); /* Reveal original logo */
  transform: scale(1.05);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .logo-track {
    gap: 20px;
  }

  .logo-item {
    width: 110px;
    height: 60px;
  }
}
