@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Be Vietnam Pro", sans-serif !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
